.usagegraph{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}

.title{
    font-size: 14px;
    gap: 10px;
    margin-bottom: 10px;
}
.buttons{
    margin-bottom: 10px;
}

.btn{
    color: gray;
    gap: 10px;
    border-radius: 5px;
    border:1px solid;
    padding: 5px;
    cursor: pointer;
    
}
.usage{
    margin-right: 10px;
}
.btn:focus{
    background-color: lightskyblue;
    border:1px solid lightskyblue;
}
.apexcharts-canvas{
    border: 1px solid lightgray;
}
