.inputWrap{
    display: flex;
    font-size: 14px;
    padding: 5px 8px 4px 8px;
    border-radius: 3px;
    border: 1px solid #666;
    background-color: white;
    cursor: pointer;
    gap: 4px;
}
.inputbox{
    cursor: pointer;
    border: none;
    padding: 5px; 
    width: fit-content; 
    min-width: 170px; 
    margin: 0;
    outline:none;
}
.datepicker{
    position: relative;
}
.calenderelement{
    margin-bottom: 10px;
    position: absolute;
    left: 50%;
    transform: translate(-32%, 6%);
    top: 40%;
    cursor: pointer;
    z-index: 999;
}